<div class="container">
  <div class="row">
    <div class="card col-4 offset-3 mt-4 p-4">
      <form #loginForm="ngForm" (ngSubmit)="entrar()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            id="exampleInputEmail1"
            class="form-control"
            [(ngModel)]="login.email"
            name="email"
            type="email"
            #emailCtrl="ngModel"
            required
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" [hidden]="emailCtrl.valid || emailCtrl.pristine"  class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            id="exampleInputPassword1"
            class="form-control"
            [(ngModel)]="login.senha"
            name="senha"
            required
            type="password"
          />
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="selecionado"
            [(ngModel)]="login.check"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>

<code>
  <pre>
  {{ login | json }}
  </pre>
</code>
