<div class="container">
  <div class="row">
    <div class="card col-sm-6 col-md-4 offset-sm-2 offset-md-4 mt-4 p-4">
      <form [formGroup]="form" (ngSubmit)="criar()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            id="exampleInputEmail1"
            class="form-control"
            [class.is-invalid]="estaInvalido('email')"
            name="email"
            type="email"
            formControlName="email"
            required
            aria-describedby="emailHelp"
          />
          <small
            id="emailHelp"
            *ngIf="
              estaInvalido('email') && form.get('email').errors.email !== null"
            class="form-text red"
            >Forneça um e-mail válido.</small
          >
          <small
            id="emailHelp"
            *ngIf="
              form.get('email').touched &&
              form.get('email').invalid &&
              form.get('email').errors.minLenght !== null
            "
            class="form-text red"
            >Campo deverá conter no mínimo 10 caracteres.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            id="input-password"
            class="form-control"
            name="senha"
            formControlName="password"
            required
            type="password"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input
            id="input-confirm-password"
            class="form-control"
            name="senha"
            formControlName="confirmPassword"
            required
            type="password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<a class="btn btn-link" routerLink="/login">Voltar para login</a>
